<div class="small-pop-dest-container">
	{{#with destination}}
		{{#each images}}
			<div class="pic-container" style="background: url({{small}}) no-repeat">
			</div>
		{{/each}}
		<div class="destination-title upper strong">
			{{name}}
		</div>
	{{/with}}
</div>