<div class="tours-new">
	<div class="title-bar">
		<div class="title">List your tour</div>
		<div class="sub-title">Show people around your most familiar place to make money</div>
	</div>
	<div class="quick-param-box">
		<div class="place"></div>
		<div class="party-size"></div>
		<div class="duration"></div>
		<button>Continue</button>
	</div>
</div>