<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<div>All Problems</div>
			+++++++++++++++++++++++++++++++
			<div>
				{{#each filteredProblems}}
					{{problem-list-item problem = this}}
				{{/each}}
			</div>
		</div>
		<div class="col-md-7">
			{{outlet}}
		</div>
	</div>
</div>