.small-pop-dest-container {
	background: url("https://s3.amazonaws.com/easiwed/pic/DowntownSF.jpg") no-repeat;
	height: 350px;
	width: 350px;
	.destination-title{
		font-size: 210% ;
		color: #FFFFFF;
		text-align: center;
		padding-top: 150px;
	}
}
.mid-pop-dest-container {
	background: url("https://s3.amazonaws.com/easiwed/pic/Napa.jpeg") no-repeat;
	height: 350px;
	width: 700px;
	.destination-title{
		font-size: 210% ;
		color: #FFFFFF;
		text-align: center;
		padding-top: 150px;
	}
}
