.navbar {
	border-radius: 0px !important;
	margin-bottom: 0px !important;
}
.strong{
	font-weight: bold;
}
.upper{
	text-transform: uppercase;
}
$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 4;
.multi-line-text-box {
	display: -webkit-box;
	height: $font-size*$line-height*$lines-to-show;
	font-size: $font-size;
	line-height: $line-height;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

//colors:
$theme-primary-color: #82B647;
$theme-secondary-color: #909090;
$dark-grey: #555555;
$light-grey: #DDDDDD;
$shadow: #888888;
$white: #FFFFFF;